<header>
  <h1>Ninja Supplies</h1>
  <a (click)="showForm = true">Add product</a>
  <span>|</span>
  <a (click)="showUploadForm = true">Upload a file</a>
</header>

<main>
  <table>
    <tr><th>Product Name</th><th>Quantity in stock</th><th>Price</th></tr>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.stock }}</td>
      <td>{{ product.price }}</td>
    </tr>
    <tr class="no-products" *ngIf="!products.length"><td colspan="3">Sorry, no products to display</td></tr>
  </table>
  <form *ngIf="showForm" [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <label for="name">Product name:</label><input id="name" formControlName="name" />
    <label for="stock">Product stock:</label><input id="stock" formControlName="stock" />
    <label for="price">Product price:</label><input id="price" formControlName="price" />
    <button type="submit">Submit</button>
  </form>
  <form *ngIf="showUploadForm" [formGroup]="uploadForm" (ngSubmit)="onSubmitUpload()">
    <label for="file">Choose file:</label>
    <input id="file" type="file" formControlName="uploadFile" (change)="onFileChange($event)">
    <button type="submit">Upload</button>
    <div class="progress">
      <span [ngStyle]="{ 'width.%': progressWidth }"></span>
    </div>
  </form>
</main>

<footer>
  <small>Copyright &copy; {{ currentYear }} WeAreNinjas Ltd</small>
</footer>